{% extends "layout.html" %}

{% block body %}
  <h3> Beer Ratings</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in beer_ratings %}
        <tr>
          <td>{{ rating['Username'] }}</td>
          <td>{{ rating['Rating'] }}</td>
      {% endfor %}
    </tbody>
  </table>
  <h3>Add Beer Ratings</h3>
    <div class = "row">
        <div class = "col-md-8">
            <div class="card card-body">
                <form action="{{url_for('add_rating')}}" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="beer_id" placeholder="Beer ID">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="rating" placeholder="Rating">
                  </div>
                  <button class="btn btn-primary btn-block">
                    Save 
                  </button>
                </form>
              </div>
            </div>
        </div>
{% endblock %}
