{% extends "layout.html" %}
{% block body %}
<div class = "row"><h3>Add Beers</h3>
    <div class = "row">
        <div class = "col-md-8">
            <div class="card card-body">
                <form action="{{url_for('add_beer')}}" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name of beer">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="brewery" placeholder="Brewery">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" name="id" placeholder="Beer ID">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="type" placeholder="Beer Type">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" name="abv" placeholder="ABV">
                  </div>
                  <button class="btn btn-primary btn-block">
                    Save 
                  </button>
                </form>
              </div>
            </div>
        </div>
    <div class = "col-md-8">
        <table class="table table-striped table-bordered" style="width: 100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ID</th>
                <th>Type</th>
                <th>ABV</th>
                <th>Average Rating</th>
                <th>View Ratings</th>
              </tr>
            </thead>
            <tbody>
              {% for row in list_names %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td>
                    {% if row[2] in beer_ratings %}
                      {{ calculate_average_rating(row[2]) }}
                    {% else %}
                      No ratings yet
                    {% endif %}
                  </td>
                  <td>
                
                    <a href="{{ url_for('beer_ratings', beer_id=row[2]) }}">View Ratings</a>

                    
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
               
    </div>
    </div>

</div>

{% endblock %}